
*{
    user-select: none;
}
body {
    background-color: #1F2632 ;
}
h1{
	font-size: 10vw;
    color:#52FFA8;
    text-align: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    color: #52FFA8;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
	font-size: 3vw;
font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block ;
    color:#52FFA8;
    text-align: center;
    margin: 0 0 10% 0;
}
#p1::before{
    content: "Player 1: ";
}
#p1{
    margin-left: 5%;
    margin-right: 15%;
}
 
#p2{
    margin-right: 5%;
    margin-left: 15%;
}
#p2::before{
    content: "Player 2: ";
    }
button{
    width: 15vw;
    height: 15vw;
    background-color: #323A49;
    border-radius: 50%;
	border-width: .5vw;
    color: #52FFA8;
    border-color: #52FFA8;
    font-size: 2vw;
	font-weight: bold;
	box-shadow: 2px 2px 10px #000000;
}
.boxes{
    width: 16vw;
    height:16vw;
    line-height: 16vw;
    background-color: #52FFA8;
    display: inline-flex ;
    border-radius: 25%;
    padding: 0;
    margin: .6% 0;
    color: #202733;
    font-weight: 600;
    font-size: 8vw;
    justify-content:  center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 0 5px #000000;
}

#box{
    position: absolute;
    padding: 8% 0 0 8%;
    margin: 0 0;
}

#backDrop{
    height: 60vw;
    width: 60vw;
    background-color: #323A49;
    border-radius: 2em;
    margin: 10% auto; 
    position: relative ;
    box-shadow: 0px 0 10px #52FFA8;
}
@media screen and (min-width: 1300px) and (max-height: 800px){
    
    h1{
        margin-bottom: 3vh;
    }
    #backDrop{
        display: inline-flex;
        height: 60vh;
        width: 60vh;
        margin: 0;
        position: absolute;
    }
    button{
        height: 15vh;
        width: 10vw;
        margin-top: 5vh;
        border-radius: 10%;
    }
    #other{
        margin-left: 10vh;
    }
    .boxes{
        width: 16vh;
        height: 16vh;
        line-height: 16vh;
        font-size: 16vh;
    }
    #p1, #p2{
        display: block;
        margin: 10vh 0 0 5vh;
    }

}